<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420" mediaName="CODE\win_b64\X3D_CSMA.media\media">
	<SetVariable name="Java@jdk">
		<SetJavaPath value="{{ Java_Path }}"/>
	</SetVariable>
	<SetVariable name="installEmbeddedServerJRE">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="MSSQL_ConnectUser">
		<SetText value="{{ db_user_name }}"/>
	</SetVariable>
	<SetVariable name="MSSQL_ConnectPwd">
		<SetText value="{{ db_user_pwd }}"/>
	</SetVariable>
	<SetVariable name="MSSQL_Instance">
		<SetText value="{{ db_instance_name }}"/>
	</SetVariable>
	<SetVariable name="MSSQL_Server">
		<SetText value="{{ db_server }}"/>
	</SetVariable>
	<SetVariable name="CreateNewMSSQL_DB">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="PathMSSQLFiles">
		<SetPath value="{{ db_temp_path }}"/>
	</SetVariable>
	<SetVariable name="MSSQL_Default_Data_FG">
		<SetText value="{{ data_fg }}"/>
	</SetVariable>
	<SetVariable name="MSSQL_Default_Index_FG">
		<SetText value="{{ data_index }}"/>
	</SetVariable>
	<SetVariable name="Radio_DBChoice"/>
	<SetVariable name="Radio_DBChoice?Oracle">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="Radio_DBChoice?SQL2008">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_creator_password">
		<SetText value="{{ creator_password }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_administor_password">
		<SetText value="{{ admin_user_pwd }}"/>
	</SetVariable>
	<SetVariable name="DATA_TARGET_PATH">
		<SetPath value="{{ data_target }}"/>
	</SetVariable>
	<SetVariable name="Text_DataTBS_wrap">
		<SetText value="{{ tbs_data }}"/>
	</SetVariable>
	<SetVariable name="Text_IndexTBS_wrap">
		<SetText value="{{ tbs_index }}"/>
	</SetVariable>
	<SetVariable name="VplmDataTBS">
		<SetText value="{{ vplm_data }}"/>
	</SetVariable>
	<SetVariable name="VplmIndexTBS">
		<SetText value="{{ vplm_index }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DPassportURL">
		<SetText value="{{ X3DCSMA_3DPassportURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_FULL_TEXT_SEARCH">
		<SetText value="{{ X3DCSMA_FTSURL }}"/>
	</SetVariable>  
	<SetVariable name="X3DCSMA_FEDERATED_SEARCH">
		<SetText value="{{ X3DCSMA_FEDERATED_SEARCH }}"/>
	</SetVariable> 
	<SetVariable name="X3DCSMA_3DDashboardURL">
		<SetText value="{{ X3DCSMA_3DDashboardURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSpaceURL">
		<SetText value="{{ X3DCSMA_3DSpaceURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSWYMURL">
		<SetText value="{{ X3DCSMA_3DSWYMURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_ENOVIAV5">
		<SetText value="{{ X3DCSMA_ENOVIAV5 }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DCommentURL">
		<SetText value="{{ X3DCSMA_3DCommentURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DNotificationURL">
		<SetText value="{{ X3DCSMA_3DNotificationURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_SMTP_HOST">
		<SetText value="{{ X3DCSMA_SMTP_HOST }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_SMTP_MAIL_SENDER">
		<SetText value="{{ X3DCSMA_SMTP_MAIL_SENDER }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_build_archives">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_deploy_archives">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_JavaHeapSize"/>
	<SetVariable name="X3DCSMA_JavaHeapSize?BOOL_MediumJavaHeapSize">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_JavaHeapSize?BOOL_LargeJavaHeapSize">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_portCAS">
		<SetPort value="{{ port_cas }}"/>
	</SetVariable>
	<SetVariable name="certificates_repository">
		<SetPath value="{{ cert_repo }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_SXI_postinstall">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_BOOL_ToolsinStartMenu">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_BOOL_ShortcutsOnDesktop">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="TARGET_PATH">
		<SetPath value="{{ target_path }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="BOOL_UpdateDB"> 
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>
