<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420" mediaName="CODE\win_b64\EXALEAD_CV.media\media">
	<SetVariable name="TARGET_PATH">
		<SetPath value="{{ cloudview_target_path }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>