STAGING_PATH=/plm/{{ env_name }}/fcs/code/STAGING/ematrix
MANAGED_PATH=/plm/{{ env_name }}/fcs/code/managed
JAVA_COMMON_PATH=/plm/{{ env_name }}/fcs/code/linux_a64/docs/javacommon
JAVA_SERVER_PATH=/plm/{{ env_name }}/fcs/code/linux_a64/docs/javaserver
JAVA_CLIENT_PATH=/plm/{{ env_name }}/fcs/code/linux_a64/docs/java
DISTRIB_PATH=/plm/{{ env_name }}/fcs/code/distrib
JDK_PATH=/plm/{{ env_name }}/fcs/softs/jdk-fcs
BIN_PATH=/plm/{{ env_name }}/fcs/code/linux_a64/code/bin/
LIB_PATH=/plm/{{ env_name }}/fcs/code/linux_a64/code/bin/
_GENERATED_BY=ENODeploymentUtilities
