<?xml version="1.0" encoding="utf-8"?>
<matrixMailListener logfile="{{mcs_server_dir}}/logs/mailListener.log">
  <mailBox protocol="pop3">
    <!--     Mail box parameters -->
    <user>user_name</user>
    <password>user_password</password>
    <mailHost>mail_host</mailHost>
    <interval>10000</interval>
    <jpo>mail_processing_jpo</jpo>
    <jpoMethod>mxMain</jpoMethod>
    <matrixUrl>http://host:port/ematrix</matrixUrl>
   </mailBox>
</matrixMailListener>
 
