MQL_COMMAND={{mcs_server_dir}}/scripts/mql
DISTRIB_PATH={{mcs_server_dir}}/distrib
STAGING_PATH={{mcs_server_dir}}/STAGING/ematrix
APP_INSTALL_PATH={{mcs_server_dir}}/Apps
JDK_PATH={{mcs_java_path}}
JAVA_CLASSPATH={{mcs_server_dir}}/linux_a64/docs/javacommon:{{mcs_server_dir}}/linux_a64/docs/javaserver:{{mcs_server_dir}}/linux_a64/docs/custom
ENOVIA_INI=null
BIN_PATH={{mcs_server_dir}}/scripts
LIB_PATH={{mcs_server_dir}}/linux_a64/code/bin
JAVA_COMMON_PATH={{mcs_server_dir}}/linux_a64/docs/javacommon
JAVA_SERVER_PATH={{mcs_server_dir}}/linux_a64/docs/javaserver
JAVA_CLIENT_PATH={{mcs_server_dir}}/linux_a64/docs/java
JAVA_CUSTOM_PATH={{mcs_server_dir}}/linux_a64/docs/custom
OSDS_PATH={{mcs_server_dir}}/linux_a64
MANAGED_PATH={{mcs_server_dir}}/managed
PLM_ADMIN={{app_administrator_user}}
