<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420.2" mediaName="CODE\win_b64\ENOVIA_PIX.media\media">
	<SetVariable name="CustomShortcuts"/>
	<SetVariable name="CustomShortcuts?AdminToolsShortcut">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="KoaHostname">
		<SetText value="{{ KoaHostname }}"/>
	</SetVariable>
	<SetVariable name="KoaPort">
		<SetPort value="58000"/>
	</SetVariable>
	<SetVariable name="KoaNumberOfServers">
		<SetText value="5"/>
	</SetVariable>
	<SetVariable name="KoaRMIPath">
		<SetPath value="{{ KoaRMIPath }}"/>
	</SetVariable>
	<SetVariable name="BBD_HOST">
		<SetText value="{{ BBD_HOST }}"/>
	</SetVariable>
	<SetVariable name="BBD_PORT">
		<SetPort value="8070"/>
	</SetVariable>
	<SetVariable name="BBD_URI">
		<SetText value="internal"/>
	</SetVariable>
	<SetVariable name="BBD_USER">
		<SetText value="3DIndexAdminUser"/>
	</SetVariable>
	<SetVariable name="BBD_PASSWD">
		<SetText value="{{ BBD_HOST }}"/>
	</SetVariable>
	<SetVariable name="BBD_ROLE">
		<SetText value="VPLMAdmin.Company Name.Default"/>
	</SetVariable>
	<SetVariable name="BBD_PATH">
		<SetPath value="{{ BBD_PATH }}"/>
	</SetVariable>
	<SetVariable name="BOOL_IndexToolsShortcut">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="RB_InstallType"/>
	<SetVariable name="RB_InstallType?Typical">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="RB_InstallType?Custom">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="TARGET_PATH">
		<SetPath value="{{ TARGET_PATH }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>