#====================================
# VirtualHost for 3DComment
#====================================
Listen {{ comment_proxy_port }}

SSLRandomSeed startup builtin
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:{{ comment_proxy_port }}>
ServerName {{ comment_server_common_name }}
ServerAlias {{ comment_server_common_name }}

ErrorLog    logs\3DComment_error_log.txt
TransferLog    logs\3DComment_access_log.txt
CustomLog    logs\3DComment_ssl_request_log.txt "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b" 

LogLevel warn

SSLEngine on
SSLProxyEngine on

SSLCertificateFile    {{ ssl_directory }}/{{ certificate_Comment }}.crt
SSLCertificateKeyFile    {{ ssl_directory }}/{{ certificate_Comment }}.key

Include {{ Comment_dir }}\win_b64\templates\3DComment_httpd_fragment.conf
</VirtualHost>