#====================================
# VirtualHost for 3DSpace
#====================================
Listen {{ mcs_proxy_port }}

SSLRandomSeed startup builtin
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:{{ mcs_proxy_port }}>
ServerName {{ mcs_server_common_name }}
ServerAlias {{ mcs_server_common_name }}


ErrorLog    logs\3dspace_error_log.txt
TransferLog    logs\3dspace_access_log.txt
CustomLog    logs\3dspace_ssl_request_log.txt "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b" 

LogLevel error

SSLEngine on
SSLProxyEngine on


SSLCertificateFile    {{ ssl_directory }}\{{ certificate_mcs }}.crt
SSLCertificateKeyFile    {{ ssl_directory }}\{{ certificate_mcs }}.key

Include {{ Mcs_dir }}\win_b64\templates\3DSpace_httpd_fragment.conf
</VirtualHost>