#====================================
# VirtualHost for FCSCENTRAL
#====================================
Listen {{ fcs_proxy_port }}

SSLRandomSeed startup builtin
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:{{ fcs_proxy_port }}>
ServerName {{ fcs_server_common_name }}
ServerAlias {{ fcs_server_common_name }}


ErrorLog    logs\fcscentral_error_log.txt
TransferLog    logs\fcscentral_access_log.txt
CustomLog    logs\fcscentral_ssl_request_log.txt "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b" 

LogLevel error

SSLEngine on
SSLProxyEngine on


SSLCertificateFile     {{ ssl_directory }}\{{ certificate_fcs }}.crt
SSLCertificateKeyFile  {{ ssl_directory }}\{{ certificate_fcs }}.key


Include {{ Fcs_dir }}\win_b64\templates\fcs_httpd_fragment.conf

</VirtualHost>