# Begin: Cache management
<IfModule mod_cache.c>
	CacheStorePrivate On
	CacheIgnoreHeaders Set-Cookie X-SWYM X-DS-SWYM-CSRFTOKEN
    <IfModule mod_cache_disk.c>
        CacheRoot "{{ CacheRoot_swym_dir }}"
        CacheEnable disk  /
        CacheDirLevels 2
        CacheDirLength 2
    </IfModule>
    <IfModule mod_disk_cache.c>
# Apache 2.2 compatibility
        CacheRoot "{{ CacheRoot_swym_dir }}"
        CacheEnable disk  /
        CacheDirLevels 2
        CacheDirLength 2
    </IfModule>
</IfModule>
# End: Cache management

<Location ~ \.eot$>
    Header unset Cache-Control
    Header unset Pragma
</Location>


# Add home page trailing slash if missing
RewriteEngine  on
RewriteRule    ^/3dswym$  /3dswym/  [R]

<Location "/3dswym/" >
# Common
      RequestHeader set x-forwarded-port {{ swym_proxy_port }}
      RequestHeader set x-forwarded-proto https
      #following is still needed for UWP
      SetEnvIf Host ^(.*?)(:[0-9]+|)$ custom_host=$1
      RequestHeader set x-forwarded-hostname "%{custom_host}e"

      ProxyPreserveHost On
      # CORS support is handled thru a Tomcat filter

# Widget Platform home page
      RequestHeader set x-forwarded-contextpath /3dswym
      ProxyPass http://{{ swym_server_common_name }}:{{ swym_instance_port }}/uwp/
      ProxyPassReverse http://{{ swym_server_common_name }}:{{ swym_instance_port }}/uwp/
      <IfModule mod_headers.c>
          Header edit Set-Cookie "^(JSESSIONID=.*; ?[Pp]ath=)/uwp(?:/|)(.*?)$" "$1/3dswym/$2"
          Header edit Set-Cookie "^(JSESSIONID3DSA=.*; ?[Pp]ath=)/3dsearch(?:/|)(.*?)$" "$1/3dswym/3dsearch$2"
      </IfModule>
</Location>

<Location "/3dswym/uwp/" >
# Widget Platform resources & API
      RequestHeader set x-forwarded-contextpath /3dswym/uwp
      ProxyPass http://{{ swym_server_common_name }}:{{ swym_instance_port }}/uwp/
      ProxyPassReverse http://{{ swym_server_common_name }}:{{ swym_instance_port }}/uwp/
</Location>

<Location "/3dswym/3dsearch/" >
# 3DSwym Rich Media Server
      RequestHeader set x-forwarded-contextpath /3dswym/3dsearch
      ProxyPass http://{{ swym_server_common_name }}:{{ swym_instance_port }}/3dsearch/
      ProxyPassReverse http://{{ swym_server_common_name }}:{{ swym_instance_port }}/3dsearch/
</Location>

<LocationMatch "^/3dswym/(?<controller>commentproxy|api|callback|webapps|synchro|ticket|generateorderticket|test|monitoring|proxyCallback|soap|admin/api|admin/html|resources/checkaccess|resources/controlaccess|rss|csv)(/|$)" >
# 3DSwym API
      RequestHeader set x-forwarded-contextpath /3dswym
      ProxyPass http://{{ swym_server_common_name }}:{{ swym_instance_port }}
      ProxyPassReverse http://{{ swym_server_common_name }}:{{ swym_instance_port }}
      #ProxyPass http://{{ swym_server_common_name }}:{{ swym_instance_port }}/social
      #ProxyPassReverse http://3dswym-18xdev2-plm.valmet.com:8481/social
      #<IfModule mod_headers.c>
      #    Header edit Set-Cookie "^(JSESSIONIDSOCIAL=.*; ?[Pp]ath=)/social(?:/|)(.*?)$" "$1/$2"
      #</IfModule>
</LocationMatch>

AddType application/x-font-ttf .ttf

<Location "/3dswym/" >
# Common compression settings
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/javascript
	#AddOutputFilterByType DEFLATE application/x-httpd-php
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE application/json
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/atom_xml
	AddOutputFilterByType DEFLATE application/x-font-ttf
</Location>

