<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420" mediaName="CODE\win_b64\X3D_SWYM.media\media">
	<SetVariable name="Java@jdk">
		<SetJavaPath value="{{ Java_Path }}"/>
	</SetVariable>
	<SetVariable name="installEmbeddedServerJRE">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DPassportURL">
		<SetText value="{{ X3DCSMA_3DPassportURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSWYM_FULL_TEXT_SEARCH">
		<SetText value="{{X3DCSMA_CloudViewURL}}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DDashboardURL">
		<SetText value="{{ X3DCSMA_3DDashboardURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DCompassURL">
		<SetText value="{{ X3DCSMA_3DCompassURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_6WTAGURL">
		<SetText value="{{ X3DCSMA_6WTAGURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSWYMURL">
		<SetText value="{{ X3DCSMA_3DSWYMURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DCommentURL">
		<SetText value="{{ X3DCSMA_3DCommentURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DNotificationURL">
		<SetText value="{{ X3DCSMA_3DNotificationURL }}"/>
	</SetVariable>
	<SetVariable name="SHARED_DIR">
		<SetPath value="{{ SHARED_DIR_Sw }}"/>
	</SetVariable>
	<SetVariable name="LOG_DIR">
		<SetPath value="{{ LOG_DIR_Sw }}"/>
	</SetVariable>
	<SetVariable name="TMP_DIR">
		<SetPath value="{{ TEMP_DIR }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_SERVER">
		<SetText value="{{ DB_SERVER }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_DBNAME">
		<SetText value="{{ DB_NAME_Social }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_DBNAME_MEDIA">
		<SetText value="{{ DB_NAME_Media }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_DBNAME_WP">
		<SetText value="{{ DB_NAME_widget }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_ADMIN_USER">
		<SetText value="{{ SwymDB_Admin_User }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_ADMIN_PASSWORD">
		<SetText value="{{ SwymDB_Admin_User_pwd }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_USER">
		<SetText value="{{ DB_MSSQL_USER }}"/>
	</SetVariable>
	<SetVariable name="DB_MSSQL_PASSWORD">
		<SetText value="{{ DB_MSSQL_PASSWORD }}"/>
	</SetVariable>
	<SetVariable name="DB_TYPE"/>
	<SetVariable name="DB_TYPE?oracle">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="DB_TYPE?sqlserver">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="IS_BATCH_SERVER">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="ENOVIA_USER">
		<SetText value="{{ ENOVIA_USER_name }}"/>
	</SetVariable>
	<SetVariable name="ENOVIA_PASSWORD">
		<SetText value="{{ ENOVIA_USER_Pwd }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_SMTP_HOST">
		<SetText value="{{ smtp_host }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_SMTP_MAIL_SENDER">
		<SetText value="{{ mail_sender }}"/>
	</SetVariable>
	<SetVariable name="install_Embedded_TomEE">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="TomEEConnectionPort">
		<SetPort value="{{ TomEEConnectionPort }}"/>
	</SetVariable>
	<SetVariable name="CustomShortcuts"/>
	<SetVariable name="CustomShortcuts?AdminToolsShortcut">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="certificates_repository">
		<SetPath value="{{ cert_repo }}"/>
	</SetVariable>
	<SetVariable name="CV_ADMIN_PASSWORD">
		<SetText value="{{ ENOVIA_USER_Pwd }}"/>
	</SetVariable>
	<SetVariable name="DATADIR">
		<SetPath value="{{ DATA_DIR_Sw }}"/>
	</SetVariable>
	<SetVariable name="TARGET_PATH">
		<SetPath value="{{ installation_path_sw }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="SelectProduct"/>
	<SetVariable name="SelectProduct?CODE\win_b64\X3DSWYM_TP.prd">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="SelectProduct?CODE\win_b64\X3DVICO_TP.prd">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="SelectProduct?CODE\win_b64\X3DSWCV_TP.prd">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>