<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420.2" mediaName="CODE\win_b64\X3D_SEAR.media\media">
	<SetVariable name="Java@jdk">
		<SetJavaPath value="C:\middleware\R2018X\java\jdk"/>
	</SetVariable>
	<SetVariable name="installEmbeddedServerJRE">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="install_Embedded_TomEE">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="TomEEConnectionPort">
		<SetPort value="8060"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DPassportURL">
		<SetText value="https://v0020-46-ootb18x.vstage.co:443/3dpassport"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_FEDERATED_SEARCH">
		<SetText value="https://v0020-46-ootb18x.vstage.co:443/federated"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSpaceURL">
		<SetText value="https://v0020-46-ootb18x.vstage.co:443/3dspace"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSWYMURL">
		<SetText value="https://v0020-46-ootb18x.vstage.co:443/3dswym"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>