<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420" mediaName="CODE\win_b64\X3D_SEAR.media\media">
	<SetVariable name="Java@jdk">
		<SetJavaPath value="{{ Java_Path }}"/>
	</SetVariable>
	<SetVariable name="installEmbeddedServerJRE">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="install_Embedded_TomEE">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="TomEEConnectionPort">
		<SetPort value="{{ TomEEConnectionPort }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DPassportURL">
		<SetText value="{{ X3DCSMA_3DPassportURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_FEDERATED_SEARCH">
		<SetText value="{{ X3DCSMA_FEDERATED_SEARCH }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSpaceURL">
		<SetText value="{{ X3DCSMA_3DSpaceURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DSWYMURL">
		<SetText value="{{ X3DCSMA_3DSWYMURL }}"/>
	</SetVariable>
	<SetVariable name="TARGET_PATH">
		<SetPath value="{{ TARGET_PATH }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>