
{{ dash_code_dir }}
1

{{ dash_jdk_path }}
2


{{ database_driver_path }}
{{ mysql_schema_name }}
{{ mysql_db_host }}
{{ mysql_db_port }}
{{ db_app_user }}
{{ db_app_user_pass }}
{{ db_admin_user }}
{{ db_admin_pass }}
{{ passport_service_url }}
{{ dashboard_service_url }}
{{ mcs_service_url }}
{{ mcs_service_url }}
{{ mail_server_name }}
{{ mail_sender_email }}
1

{{ tomcat_setenv_path }}
{{ tomcat_conf_dir }}
{{ tomcat_lib_dir }}
{{ tomcat_webapp_dir }}
{{ tomcat_instance_ip }}
{{ tomcat_http_port }}
{{ untrusted_domain }}




