#====================================
# VirtualHost for 3DPassport
#====================================
Listen {{ passport_proxy_port }}

SSLRandomSeed startup builtin
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:{{ passport_proxy_port }}>
ServerName {{ passport_server_common_name }}
ServerAlias {{ passport_server_common_name }}

#ServerName v0626a.vstage.co
#ServerAlias v0626a.vstage.co

ErrorLog    logs/3dpassport_error_log.txt
TransferLog    logs/3dpassport_access_log.txt
CustomLog    logs/3dpassport_ssl_request_log.txt "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b" 

LogLevel warn

SSLEngine on
SSLProxyEngine on


SSLCACertificateFile {{ ssl_directory }}/Root.crt
SSLCertificateChainFile {{ ssl_directory }}/Intermediate.crt
SSLCertificateFile {{ ssl_directory }}/ServerCertificate.crt
SSLCertificateKeyFile  {{ ssl_directory }}/ServerCertificate.key


Include {{ fragment_dir }}/3DPassport_httpd_fragment.conf

</VirtualHost>

