#!/bin/sh
CurrentDir=`pwd`
ulimit -d unlimited
cd {{fts_bin_dir}}
echo "Stopping service..."
chmod a+x cvinit.sh
JAVA_HOME={{fts_java_home}}
export JAVA_HOME
./cvinit.sh stop
cd $CurrentDir
echo "Stopped."
