<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420.2" mediaName="CODE\linux_a64\ENOVIA_VIU.media\media">
	<SetVariable name="PATH_PH_Server">
		<SetPath value="D:\DassaultSystemes\R2018x\3DSpace"/>
	</SetVariable>
	<SetVariable name="Text_SuperUserName">
		<SetText value="creator"/>
	</SetVariable>
	<SetVariableProtected name="Text_SuperUserPwd">
		<SetText value="Put your password here."/>
	</SetVariableProtected>
	<SetVariable name="TARGET_PATH">
		<SetPath value="D:\DassaultSystemes\R2018x\3DSpace\Apps\3DLive_web_plug-in\V6R2018x"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>