<Location /enoviafcs>
RequestHeader set x-forwarded-hostname "{{ fcs_instance_server }}"
RequestHeader set x-forwarded-proto "https"
RequestHeader set x-forwarded-port "{{ fcs_proxy_port }}"

ProxyPass  http://{{ fcs_instance_server }}:{{ fcs_instance_port }}/enoviafcs timeout=300
ProxyPassReverse  http://{{ fcs_instance_server }}:{{ fcs_instance_port }}/enoviafcs

# Cross-origin resource sharing (CORS)
SetEnvIf Origin "https:\/\/(.+\.)?(valmet.com)(:\d{1,5})?$" origin_is=$0
Header set Access-Control-Allow-Origin %{origin_is}e env=origin_is
Header set Access-Control-Allow-Credentials "true"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, HEAD, PUT, DELETE, PATCH"
Header set Access-Control-Allow-Headers "accept,x-requested-method,origin,x-requested-with,x-request,cache-control,content-type"
Header set Access-Control-Max-Age "600"
</Location>

