{{ mcs_server_dir }}
{{ mcs_java_path }}
1

{{ db_option_db2 }}

{{ db2_product_dir }}
{{ db2_instance_name }}
{{ db2_connection_user }}
{{ db2_connection_user_pass }}
{{ db2_database_name }}
{{ db2_data_tablespace }}
{{ db2_index_tablespace }}
{{ mcs_conf_dir }}



{{ mcs_instance_path }}/{{instance_name}}/bin
startup.sh


