# 3D Index Engine Configuration file

# Starting port number on which Index bridge will reroute the index requests
KoalaPortBase={{e3dx_1st_port_range}}

# Starting port number for 3D Index servers
Koala3DIndexBasePort={{e3dx_1st_port_range}}

# Range of port numbers available for 3D Index servers
KoalaPoolSize={{e3dx_start_instance_count}}

# Name of host where 3D Index Engine is running
KoalaHostName={{e3dx_server_name}}

# Internal Load balancer
KoalaReroute=0
