<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420.3" mediaName="CODE\win_b64\X3D_CMNT.media\media">
	<SetVariable name="Java@jdk">
		<SetJavaPath value="{{ Java_Path }}"/>
	</SetVariable>
	<SetVariable name="installEmbeddedServerJRE">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DPassportURL">
		<SetText value="{{ X3DCSMA_3DPassportURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DDashboardURL">
		<SetText value="{{ X3DCSMA_3DDashboardURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DCommentURL">
		<SetText value="{{ X3DCSMA_3DCommentURL }}"/>
	</SetVariable>
	<SetVariable name="X3DCSMA_3DNotificationURL">
		<SetText value="{{ X3DCSMA_3DNotificationURL }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_SHARED_DIR">
		<SetPath value="{{ SOCIAL_SHARED_DIR }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_LOG_DIR">
		<SetPath value="{{ SOCIAL_LOG_DIR }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_TMP_DIR">
		<SetPath value="{{ SOCIAL_TMP_DIR }}"/>
	</SetVariable>
	<SetVariable name="install_Embedded_TomEE">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="TomEEConnectionPort">
		<SetPort value="{{ TomEEConnectionPort }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_SERVER">
		<SetText value="{{ SOCIAL_DB_MSSQL_SERVER }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_DBNAME">
		<SetText value="{{ SOCIAL_DB_MSSQL_DBNAME }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_ADMIN_USER">
		<SetText value="{{ SOCIAL_DB_MSSQL_ADMIN_USER }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_ADMIN_PASSWORD">
		<SetText value="{{ SOCIAL_DB_MSSQL_ADMIN_PASSWORD }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_USER">
		<SetText value="{{ SOCIAL_DB_MSSQL_USER }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_MSSQL_PASSWORD">
		<SetText value="{{ SOCIAL_DB_MSSQL_PASSWORD }}"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_TYPE"/>
	<SetVariable name="SOCIAL_DB_TYPE?oracle">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="SOCIAL_DB_TYPE?sqlserver">
		<SetBoolean value="true"/>
	</SetVariable>
 <SetVariable name="IS_BATCH_SERVER">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>