
{{ passport_code_dir }}
1

{{ passport_jdk_path }}
{{ mysql_db_option }}

{{ database_driver_path }}
{{ mysql_db_host }}
{{ mysql_db_port }}
{{ mysql_schema_name }}
{{ db_admin_user }}
{{ db_admin_pass }}
{{ db_app_user }}
{{ db_app_user_pass }}
{{ mysql_db_host }}
{{ mysql_db_port }}
{{ token_schema_name }}
{{ token_db_user }}
{{ token_db_user_pass }}

{{ admin_email }}
{{ admin_pass }}
{{ passport_url }}
{{ mcs_url }}
{{ mail_server_name }}
{{ mail_sender_email }}
1

{{ server_port }}
{{ tomcat_lib_dir }}
{{ tomcat_webapp_dir }}




