
{{ passport_code_dir }}
{{ passport_jdk_path }}
{{ web_app_name }}
{{ server_hostname }}
{{ server_port }}
{{ admin_email }}
{{ admin_pass }}
{{ mysql_db_url }}
{{ mysql_db_driver }}
{{ db_admin_user }}
{{ db_admin_pass }}
{{ db_app_user }}
{{ db_app_user_pass }}
{{ token_db_url }}
{{ token_db_driver }}
{{ token_db_user }}
{{ token_db_user_pass }}
{{ mail_server_name }}
{{ mail_sender_email }}
{{ mail_sender_name }}
{{ user_login_case }}
{{ dir_cont_cus }}
{{ passport_log_dir }}
{{ tomcat_webapp_dir }}
{{ tomcat_lib_dir }}
{{ database_driver_path }}



