3dxp.login.title=Login to 3DEXPERIENCE Platform {{ env_name|upper }}
3dxp.register.title=Welcome to 3DEXPERIENCE Platform
3dxp.profile.title=My Profile
3dxp.idvalidation.accessControl=3DEXPERIENCE Platform - Access Control
3dxp.error.title=Error
