echo "-------------Begin of setenv.sh------------------------"
#*******************************************************************
# This script allows to define custom variables used by Tomcat
#********************************************************************


CATALINA_OPTS="-Dfile.encoding=UTF-8 -server"
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseCompressedOops"
JAVA_OPTS="-Xms960m -XX:MaxPermSize=512m -Djava.awt.headless=true"

# Used to monitor JVM through JMX
CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"
CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.port={{ item.value.port_jmx }}"
CATALINA_OPTS="$CATALINA_OPTS -Djava.rmi.server.hostname={{ inventory_hostname }}"
CATALINA_OPTS="$CATALINA_OPTS -DAPPNAME="{{ env_name }}-{{ item.value.app_name }}""
echo "CATALINA_OPTS=$CATALINA_OPTS"

JAVA_HOME={{ passport_jdk_path }}
PATH=$PATH:$JAVA_HOME/bin
CLASSPATH=$CLASSPATH:$JAVA_HOME/lib
export JAVA_HOME PATH CLASSPATH


echo "-------------"
