3DIndexAdminUser
Administration User
Autoclau
Common Access Grantor
Corporate
DemoDesigner
DemoLeader
DemoLocalAdministrator
DemoReviewer
DemoSupplier
FTAMPALE
PLMADM
Project Space Access Grantor
RACEADM
Request Access Grantor
Route Access Grantor
Route Delegation Grantor
Service Creator
Subscription Agent
Test Everything
Unmanaged Document Grantor
User Agent
Workspace Access Grantor
Workspace Lead Grantor
Workspace Member Grantor
creator
guest