#!/bin/bash

# R15x License verification

rm -rf {{ mcs_bin_dir }}/data/v62015x_license_user-list.txt
for user in `cat /tmp/PO-list-person.txt`; 
do 
echo ===================$user====================;
./mql -c "set context user {{ mql_user }} password {{ mql_password }}; 
print person $user select product;" >> {{ mcs_bin_dir }}/data/v62015x_license_user-list.txt
done