<?xml version="1.0" encoding="utf-8" ?>
<Media mediaLevel="420.2" mediaName="CODE\win_b64\ENOVIA_SXI.media\media">
	<SetVariable name="FullCloud_URL">
		<SetText value="{{ X3DCSMA_FTSURL }}"/>
	</SetVariable>
	<SetVariable name="FullCloud_AdminPassword">
		<SetText value="{{ FullCloud_AdminPassword }}"/>
	</SetVariable>
	<SetVariable name="Radio_mode"/>
	<SetVariable name="Radio_mode?Simple">
		<SetBoolean value="true"/>
	</SetVariable>
	<SetVariable name="Radio_mode?Custom">
		<SetBoolean value="false"/>
	</SetVariable>
	<SetVariable name="TARGET_PATH">
	<SetPath value="{{ TARGET_PATH_3dindex }}"/>
	</SetVariable>
	<SetVariable name="FinishPanel"/>
	<SetVariable name="DSYWelcomePanel">
        <SetWelcome value="true"/>
	</SetVariable>
</Media>