{{ e3dx_install_path }}

{{ e3dx_plugin_contact_hostname }}
{{ e3dx_1st_port_range }}
{{ e3dx_start_instance_count }}
{{ enovia_v6_server_path }}
{{ enovia_v6_server_name }}
{{ enovia_v6_server_port }}
{{ enovia_v6_server_rootURI }}
{{ e3dx_server_user }}
{{ e3dx_server_user_pass }}
{{ e3dx_server_security_context }}
{{ e3dx_index_directory }}
